!src/server/models/
support_files/Industrial_Project_Proposal.pdf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
docs/self_assessment_ebere.tex
*.pt
*.h5
*.pkl
*.joblib
*.onnx
*.tflite
*.weights
*.cfg
*.model
*.bin
*.xml
*.json
*.yml
*.yaml
*.sqlite3
*.db
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.webm
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.raw
camera*
video*
